input[type="text"], input[type="number"], input[type="password"] {
	border: none;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 15px;
	padding-right: 15px;
	font-family: var(--font-main);
	background: var(--color-white);
	border-radius: 5px;
	font-size: 1rem;
	outline-color: var(--color-green-0);
}

body {
	background: var(--color-gray-2);
}

.ghost-loader {
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: hsl(0, 0%, 19%);
	background: linear-gradient(to right, hsl(0, 0%, 19%) 8%, hsl(0, 0%, 30%) 18%, hsl(0, 0%, 19%) 33%);
	background-size: 500% 100%;
}

@keyframes placeHolderShimmer {
	0% {
		background-position: 150% 0;
	}

	100% {
		background-position: -100% 0;
	}
}